## Python Basic

In [3]:
1+2

3

In [4]:
4%2

0

In [5]:
4/2

2.0

In [6]:
5//2

2

In [7]:
5/2

2.5

In [8]:
# BODMAS formula -- Braket Off, Division, Multiplication.substraction
5+3*2

11

In [9]:
(5+3)*2

16

In [12]:
type(2.5)

float

In [13]:
type('raj')

str

In [15]:
a=10
b=20
c=a+b

In [16]:
type(c)

int

In [17]:
True

True

In [20]:
False

False

In [22]:
True or True

True

In [24]:
True | False

True

In [26]:
a=10
b=20
a+b>30 |a-b<10

True

In [27]:
a+b>30 or a-b<10

True

In [ ]:
### string
## Never use Reserved key words
str(1)

In [29]:
str1='good boy'
str2='bad boy'

In [30]:
print(str1)
print(str2)

good boy
bad boy

In [36]:
str1+str2

'good boybad boy'

In [40]:
str1 + ''str2

SyntaxError: invalid syntax (<ipython-input-40-8d26b71ec01a>, line 1)

In [41]:
name=input("enter name?")
print(name)

enter name?1
1

In [ ]:
### Add2 number

In [1]:
a=float(input('Enter ny=umber 1?'))
b=float(input('Enter ny=umber 1?'))
c=a+b
print("The output is",c)

Enter ny=umber 1?23
Enter ny=umber 1?22
The output is 45.0

In [8]:
### string formating
first_name=input("what is your first name ?")
last_name=input("what is your last name ?")
print("My first name is {First} and last name is {Last}".format(Last=last_name,First=first_name))

what is your first name ?Raj
what is your last name ?Busa
My first name is Raj and last name is Busa

In [9]:
### Strong Typing
1+ int('2')

3

In [1]:
### Conditional statement
## if and elif
a=int(input("Enter number1 ?"))
b=int(input("Enter number 2 ?"))
c=a-b
print("The output is" , c)
if c<0:
    print("The number is negative")
elif c>40:
    print("The diffrence id huge")
else:
    print("The number is positive")

Enter number1 ?30
Enter number 2 ?2
The output is 28
The number is positive

Data Structures
1. List
2. Tuple
3. String
4. Disctionary
5. Sets

In [3]:
lst=[1,2,3,"kris","Naik"]

In [8]:
type(lst[3])

str

In [9]:
type(lst)

list

In [11]:
list([1,2,3,"kris","Naik"])

[1, 2, 3, 'kris', 'Naik']

In [13]:
lst.append("iNuero")
print(lst)

[1, 2, 3, 'kris', 'Naik', 'iNuero', 'iNuero']

In [17]:
lst[2]="Data Science"
print(lst[2])

Data Science

In [18]:
lst.append("Krish")
lst.append("Krish")
lst

[1, 2, 'Data Science', 'kris', 'Naik', 'iNuero', 'iNuero', 'Krish', 'Krish']

In [22]:
lst.count("iNuero")

2

In [25]:
# Indexing
str1="Krish"
str1[3]=1

##'str' object does not support item assignmen

TypeError: 'str' object does not support item assignment

In [2]:
## Immutable- STRING is Immutable
str1="Krish"
str1="Naik"
str1

'Naik'